# -*- coding: utf-8 -*-
"""
Created on Wed Apr  6 19:21:04 2022

@author: Lenovo
"""

.centered
{
	text-align:center;
}
.highlight_text
{
	color:red;
	font-style:italic;
}	
.normal_text
{
	color:black;
}
.deleted_text
{
	color:grey;
	text-decoration:line-through;
}
p
{
	text-align:left;
}
#Tom
{
	font-family:"Times New Roman"
}
#Carl
{
	font-family:Courier
}